{#
/**
 * @file
 * Template for a Node Article Teaser Components.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
{# {{ kint() }} #}
<article{{ attributes.addClass(classes) }}>
  {% block content %}
    <div class="article--teaser__image">
        {{ content.field_image }}
    </div>

    <div class="article--teaser__text">
        <a href="{{ url }}" class="article__title">
            {{ label }}
        </a>
        
        <div class="article__body">
            {{ content.body }}
        </div>
    </div>
 
  {% endblock %}
</article>
